@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('../css/basic.css');
* {
	font-family: "Tektur", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
}

a:hover {
	text-decoration: underline;
}
button, input {
	color: #fff;
	background-color: #363636;
}
.message {
	background-color: #333;
	color: #00ff00;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #00ff00;
}
.file-list {
	list-style-type: none;
	padding: 0;
}
.file-list li {
	margin: 5px 0;
}
.upload-form {
	margin-bottom: 20px;
}
.upload-form input[type="file"] {
	margin-right: 10px;
}